@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.country {
  fill: #ed9121;
  stroke: #141313;
  /* stroke-width: ; */
  stop-opacity: 0.1;
  stroke-width: 0.05px;
}
.country:hover {
  fill: lightgray;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.round {
  stroke-linecap: round;
}
circle:hover {
  opacity: 0;
}

/* .svg-icon {
  width: 1em;
  height: 1em;
} */

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: red;
}

.svg-icon circle {
  stroke: red;
  stroke-width: 1;
}